<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Linux-Admin</title>
        <link rel="icon" type="image/svg+xml" href="favicon.svg">
        <meta name="viewport"
              content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi ">
    </head>
<body>
    <div class="container" style="display: flex; flex-direction: column; align-items: center;">
        <input style="width: 90%; height: 35px; line-height: 35px; padding: 0 10px;" id="admin" type="text" placeholder="请输入口令"/>
        <input style="width: 90%; height: 35px; line-height: 35px; padding: 0 10px; margin-top: 5px;" id="command" type="text" placeholder="请输入操作命令"/>
        <button style="width: 60%; height: 35px; padding: 0px 10px; margin: 10px; background: cyan;">启  动</button>
        <div id="loading" style="display: none; width: 100%; text-align: center; font-size: 25px; color: blueviolet;">请求中，请稍后...</div>
        <div class="card" style="background-color: aquamarine; border-radius: 30px; padding: 0 30px;">
            <h2 class="card-title">AI 回答</h2>
            <p class="text-lg" id="answer"></p>
            <br>
        </div>
    </div>
<script>
    const submitButton = document.querySelector('button');
    const admin = document.querySelector('#admin');
    const command = document.querySelector('#command');
    const card = document.querySelector('.card');
    const loading = document.querySelector('#loading');
    card.style.display = 'none';

    submitButton.addEventListener('click', () => {
        loading.style.display = 'block';
        card.style.display = 'none';
        const data = {
            admin: admin.value,
            command: command.value
        };
        fetch('/execute', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res => res.json()).then(result => {
            loading.style.display = 'none';
            card.style.display = 'block';
            document.querySelector('#answer').innerHTML = result.data.message.replace(/\n/g, '<br>');
        });
    });
</script>
</body>
</html>