<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linux-Admin</title>
    <meta name="viewport"
          content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1,target-densitydpi=device-dpi ">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.3/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="container">
    <div class="flex flex-col items-center h-screen w-screen" style="padding-top: 20px;">
        <div class="flex flex-row items-center justify-center w-full" style="padding: 10px 0px;">
            <input id="admin" type="text" placeholder="请输入口令"
                   class="input input-bordered w-4/5 lg:w-2/5 mr-2"/>
        </div>
        <div class="flex flex-row items-center justify-center w-full" style="padding: 10px 0px;">
            <input id="command" type="text" placeholder="请输入操作命令"
                   class="input input-bordered w-4/5 lg:w-2/5 mr-2"/>
        </div>
        <button class="btn btn-primary" style="padding: 0px 10px; margin: 10px;">提 交</button>
        <div id="loading" style="display: none; width: 100%; text-align: center; font-size: 25px; color: blueviolet;">请求中，请稍后...</div>
        <div class="flex flex-col justify-start mt-10 mx-5" style="max-width: 90%;">
            <div class="card bg-base-100 shadow-md">
                <div class="card-body">
                    <h2 class="card-title">AI 回答</h2>
                    <p class="text-lg" id="answer"></p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const submitButton = document.querySelector('button');
    const admin = document.querySelector('#admin');
    const command = document.querySelector('#command');
    const card = document.querySelector('.card');
    const loading = document.querySelector('#loading');
    card.style.display = 'none';

    submitButton.addEventListener('click', () => {
        loading.style.display = 'block';
        card.style.display = 'none';
        const data = {
            admin: admin.value,
            command: command.value
        };
        fetch('/execute', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res => res.json()).then(result => {
            loading.style.display = 'none';
            card.style.display = 'block';
            document.querySelector('#answer').innerHTML = result.data.message.replace(/\n/g, '<br>');
        });
    });
</script>
</body>
</html>